*{
    margin:0;
    font-family: 'Inter' , sans-serif;

}

section{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

#main{
    background-image:url(img/1stbg.png);
}
.main-block{
    display: flex;
    justify-content: center;
}
.about-block{
    display: flex;
    justify-content: center;
}
.skills-block{
    display: flex;
    justify-content: center;
}
.works-block{
    display: flex;
    justify-content: center;
}
.reviwes-block{
    display: flex;
    justify-content: center;
}
